* {
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
    
}

body {
    background-color: #dce1de;
}

.app {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    font-size: 44px;
    letter-spacing: 1.5px;
    color: black;
    margin-bottom: 30px;
}

.input {
    display: flex;
    
}

.new-input {
    padding: 16px;
    font-weight: 500;
    color: gray;
    flex: 1;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid #f6f6f6;
    box-shadow: 2px 2px 8px 0 #c0c0c0;
}

.button {
    padding: 18px 24px;
    background-color: #0631f8;
    color: #ffffff;
    font: bold;
    cursor: pointer;
    border: 0;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 2px 2px 8px 0 #c0c0c0;
}

.button:hover {
    background-color: #3993dd ;
}

.gamesList {
    margin-top: 20px;
}

.task-list {
    background-color: #fff;
    border-radius: 8px;
}


.task-list-item {
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 8px 0 #c0c0c0;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
}

.task-list-item:hover {
    border: 1px solid #0631f8;
}


.task-list-checkbox {
    cursor: pointer;
}

.task-list-text {
    margin-left: 12px;
    font-weight: bold;
    flex: 1;
}

.task-list-icons {
    display: flex;
    column-gap: 16px;
}

.task-list-icons:hover button {
    color: red;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.remove-item {
    cursor: pointer;
    border: none;
    background-color: #fff;

}
